.breadcrumbs {
    padding: 24px 0 0 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .breadcrumbs {
        top: 125px;
    }
}

@media screen and (max-width: 768px) {
    .breadcrumbs {
/*         top: 123px;
        padding: 24px 0;
        box-shadow: none; */
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .breadcrumbs {
        display: none;
    }
}
