.lead__list-item {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.02em;
}

@media screen and (max-width: 1190px) {
    .lead__list-item {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 768px) {
    .lead__list-item {
        font-size: 13px;
        line-height: 16px;
    }
}