.form__label_file {
    display: flex;
    margin-right: 6px;
}

.form__label_file::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-image: url('../../../../images/form_icon.svg');
}