.lead__subheading {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .lead__subheading {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
    }
}
